@inherits LayoutComponentBase

<FluentLayout Class="h-[100vh]">
    <FluentHeader>
        EMS
        <FluentSpacer></FluentSpacer>
        <AuthorizeView>
            <Authorized>
                <FluentPersona 
                    Id="persona-button"
                    Initials="EG"
                    ImageSize="40px"
                    OnClick="@(()=> _open = !_open)"
                >
                </FluentPersona>
                <FluentMenu Anchor="persona-button" @bind-Open="_open" Class="w-40">
                    <FluentMenuItem>
                        <span slot="start">
                            <FluentIcon Value="@(new Icons.Regular.Size20.Person())" Color="Color.Neutral"></FluentIcon>
                        </span>
                        Profile
                    </FluentMenuItem>
                    <FluentDivider></FluentDivider>
                    <FluentMenuItem OnClick="LogoutClicked" Style="background: var(--warning);">
                        <span slot="start">
                            <FluentIcon Icon="Icons.Regular.Size20.ArrowExit" aria-labelledby="logout-button" Color="@Color.Neutral"/>
                        </span>
                        Logout
                    </FluentMenuItem>
                </FluentMenu>
            </Authorized>
            <NotAuthorized>
                <div>
                    <FluentButton Appearance="Appearance.Outline" OnClick="HandleLoginClicked">Login/Register</FluentButton>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </FluentHeader>
    <FluentStack Class="h-full" Style="background: var(--neutral-layer-2)" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu/>
        <FluentBodyContent Class="flex h-full">
            <ErrorBoundary>
                <ChildContent>
                    <div class="w-full p-4">
                        @Body
                    </div>
                </ChildContent>
                <ErrorContent Context="ex">
                    <div class="blazor-error-boundary">@ex.Message</div>
                </ErrorContent>
            </ErrorBoundary>
        </FluentBodyContent>
    </FluentStack>
</FluentLayout>

<FluentTooltipProvider />
<FluentDialogProvider/>

@code
{
    //Check if menu is open
    private bool _open = false;
    
    async Task LogoutClicked()
    {
        var logoutModel = new UserSession();
        var customAuthStateProvider = (CustomAuthStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(logoutModel);
        NavManager.NavigateTo("/", forceLoad: true);
    }

    void HandleLoginClicked()
    {
        NavManager.NavigateTo("/identity/account/login");
    }
}
